form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

input, textarea {
    padding: 10px;
    border-radius: 7px;
    box-shadow: none;
    border: 1px solid grey;
}

input {
    margin-bottom: 12px;
}


.buttonContainer {
    display: flex;
    justify-content: flex-end;
}

button {
    flex: 1;
    background-color: green;
    padding: 5px;
    margin-top: 10px;
    border: 1px solid green;
    color: white;
    border-radius: 4px;
    max-width: 100px;
}